body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 130px;
    width: 900px;
    background-color: gold;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

.logo{
    height: 110px;
    width: 110px;
    background: red;
    float: left;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
}

.titre{
    height: 50px;
    width: 300px;
    background: green;
    float: right;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
}

#conn{
    width: 900px;
    height: 32px;
    background-color: #FFF;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px solid #000;
    padding: 8px;
    border-radius: 10px;
}

#user{
    width: 32px;
    height: 32px;
    //background: red;
    float: left;
}

#titre{
    width: 700px;
    height: 32px;
    float: left;
    line-height: 32px;
    margin-left: 15px;
    font-weight: bold;
}

#deco{
    width: 32px;
    height: 32px;
    float: right;
}

#menu{
    height: 40px;
    width: 920px;
    //background-color: #000;
    margin: 10px auto;
    border-bottom: 6px solid red;
}

.menu{
    float: left;
    min-width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    
}

.active{
    background-color: gold;
}

.menu:hover{
    background-color: #CCC;
}

.dash{
    width: 900px;
    height: 130px;
    padding: 10px;
    background-color: #eee;
    margin: 0 auto;
}

.dashIn{
    width: 170px;
    height: 130px;
    //background-color: red;
    float: left;
    margin-right: 73.33px;
}

.supEspace{
    margin-right: 0;
}

.val{
    height: 90px;
    //background-color: #000;
    border: 2px solid gold;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
}

.tit{
    height: 40px;
    background-color: gold;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.imag{
    width: 920px;
    height: 450px;
    background-color: #000;
    background-image: URL('../images/bg.jpg');
    background-size: cover;
    margin: 0 auto;
}

.lang{
    background-color: gold;
    height: 50px;
    margin: 0 auto;
    width: 850px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    color: red;
    margin-top: -100px;
    border-radius: 10px;
    border: 3px solid #FFF;
}

.footer{
    height: 40px;
    width: 920px;
    background-color: gold;
    margin: 10px auto;
    text-align: center;
    line-height: 40px;
}

a{
    color: #000;
    text-decoration: none;
}

#divform{
	width: 900px;
	min-height: 100px;
	//background-color: red;
	margin: 0 auto;
	padding: 10px;
}

#divform td{
	padding: 5px;
	font-size: 15px;
}

.formstyl{
	width: 250px;
	height: 25px;
	background: #eee;
	border: 0;
}

#formstyl{
	background-color: blue;
	color: #FFF;
}

#formstyl:hover{
	cursor: pointer;
	font-size: 18px;
}
section{
    padding-left: 165px;
}
.recherche{
    cursor: pointer;
    background-color: aqua;
    border-radius: 10px;
}
